**/*node_modules/
**/*/target

**/*/ChessPlusPlus

.DS_Store

web/.svelte-kit
**/*/mydb.sqlite
ideas.md
**/*/config/
CSM/index.js
CSM/dist/
web_a

**/*/.vscode/
stockfish
**/*/todo.md
**/*/.env
todo.md